
.blink-bg{text-align:center;
width:1400px;
text-shadow: 2px 2px black;
}

.hello{width: 130px;
    height: 120px;}

    .container-md{background-color:lightgreen;}
    .container-lg
    {background-color:orange;}
 .m1{background-color:yellow;}
