

.hello{width: 130px;
    height: 120px;}


  .m1{background-color:#FCFCFC;
    border-style:solid;
  border-color:#54F2F2;
border-width:5px;}

    .m2{background-color:#F4E04D;
    border-style:solid;
  border-color:#54F2F2;
Border-width:5px;
}
    .m3{background-color:#FCFCFC;
    border-style:solid;
  border-color:#54F2F2;
border-width:5px;}

    .m4{background-color:#F4E04D;
    border-style:solid;
    border-color:#54F2F2;
  border-width:5px;}


.blink-bg{
      color: black;
      text-shadow: 2px 5px #1BE7FF;
     height:80px;
     border-style:solid;
    text-align:center;
      animation: blinkingBackground 2s infinite;

  }
@keyframes blinkingBackground{
      0%		{ background-color: #85C7DE;}
      25%		{ background-color: #A0C4E2;}
      50%		{ background-color: #AED1E6;}
      75%		{ background-color: #C6DBF0;}
      100%  { background-color: #CFE8EF;}
}
    .container-fluid {border-style:solid;
background-color:#5EB1BF;
border-color:#042A2B;
border-width:5px;}
