
.blink-bg{text-align:center;
width:2200px;
text-shadow: 2px 2px black;
}

.hello{width: 130px;
    height: 120px;}

    .container-md{background-color:lightgreen;
max-width:500px;
    border-style:solid;
        border-width:6px;  }  
.container-lg
    {background-color:orange;
max-width:600px;
    border-style:solid;
    border-width:6px;}
 
.m1{background-color:yellow;}

body {
    background-color: lightblue;
  }
